.news {
    display: flex;
    width: 1200px;
    margin-top: 15px;
    font-size: 20px;
}

.newsImg {
    width: 50%;
    margin: 0 10px;

    img {
        width: 100%;
        border-radius: 10px;
    }
}

.newsInfo {
    width: 50%;
    text-align: center;
}

.newsTitle {
    h2 {
        font-size: 1.1em;
    }
}

.newsDescription p {
    font-size: .8em;
}

@media screen and (max-width: 1200px) {
    .news {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .news {
        display: block;
    }

    .newsImg {
        width: 100%;
        margin: 0px;
    }

    .newsInfo {
        width: 100%;
        text-align: center;
    }

}

@media screen and (max-width: 480px) {
    .newsTitle {
        h2 {
            font-size: .8em;
        }
    }
    
    .newsDescription p {
        font-size: .6em;
    }
    
}