.news,
.newsEditArea {
    position: relative;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.newsEditArea {
    bottom: 0px;
}

.input:disabled {
    border: none;
    background: none;
}

// .editor {
//     width: 900px;
//     color: #000;
// }

// .statsTable {
//     border: 1px solid #420101;

//     thead {
//         tr th {
//             padding: 7px;
//         }
//     }
// }

@media screen and (max-width: 1200px) {
    .editor {
        width: 100%;
    }
}